@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.un-jugador,
.dos-jugadores{
	font-family: Orbitron;
	font-size: 20px
}

.Juego {
    text-align: center;
}

.titulo-juego {
	font-family: sans-serif;
	font-size: 15px;
}

.juego-container{
	padding: 100px;
}